@using Campus.Domain;

@model Campus.Domain.PagedList<Homework>
@{
    ViewData["Title"] = "主页";
}

<style>
    li.active {
        background-color: darkslategrey;
    }

    li.page-item {
        display: inline;
        border: 1px solid cadetblue;
        margin: 0 5px;
        padding: 2px;
    }
</style>

<div>
    @{var role = User.Claims.FirstOrDefault(x => x.Type == System.Security.Claims.ClaimTypes.Role);}
    <table>
        <tr><th>标题</th><th>创建人</th></tr>
        @foreach (var item in Model.Source)
        {
            if (item.Deleted == false)
            {
           <tr><td><a href='@(role.Value == "2" ? "/Homework/ShowDetailForTeahcher" : "/Homework/ShowDetailForStudent")?HomeworkId=@item.Id'>@item.Title</a></td><td>@item.User.UserName</td></tr>
            }
        }
    </table>
</div>
<div>
    @{
        //var pageCount = Math.Ceiling((double)Model.Count / Model.PageSize);

        <ul>
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <li class="@(Model.PageIndex == i ? "active" : "") page-item">
                    <a href="./?pageIndex=@i">@i</a>
                </li>
            }
        </ul>
    }
</div>